<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>board-post-servlet</servlet-name>
    <servlet-class>BoardPkg.BoardPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board-post-servlet</servlet-name>
    <url-pattern>/cukbm/board/boardPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>board-reply-servlet</servlet-name>
    <servlet-class>BoardPkg.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board-reply-servlet</servlet-name>
    <url-pattern>/cukbm/board/boardReply</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>board-update-servlet</servlet-name>
    <servlet-class>BoardPkg.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>board-update-servlet</servlet-name>
    <url-pattern>/cukbm/board/boardUpdate</url-pattern>
  </servlet-mapping>
</web-app>