

        ._2lUES1qfK73keSn9S_BiQT,
        .R2zU9JsZW1r2id-qp7H3S {
            margin-right: auto;
            margin-left: auto
        }

        ._2lUES1qfK73keSn9S_BiQT {
            padding-right: 2rem;
            padding-left: 2rem
        }

        ._1y_mg6OlZKhq9LGfUCMUme {
            box-sizing: border-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -.5rem;
            margin-left: -.5rem
        }

        ._1y_mg6OlZKhq9LGfUCMUme._1X6820BrKRu54Mn4KYz5W4 {
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse
        }

        ._3RqPPNvuCSBmHorVMcWqER._1X6820BrKRu54Mn4KYz5W4 {
            -ms-flex-direction: column-reverse;
            flex-direction: column-reverse
        }

        ._1DhV6KBVDhq0C7-sV3-jzc,
        ._1HkK5al1x-9ZSl2PI_ve9D,
        ._1QsVgWEGnsMr5UiQY1SGSr,
        ._1ROHR9DlWlzMRgGVodwDxD,
        ._1XWFbKOXcVDmFV87VyIQWw,
        ._1yQDGbFjNQKaPZV3sRcb7L,
        ._2aEcW6OB6LL92WjxVewj4g,
        ._2AWNv2py0f6xFU3ErZOccg,
        ._2f2QlvHgVI7OYkA4mpVBd6,
        ._2haBvfinzktZWEdiLLTB7k,
        ._2Hh-BNa7guvwv15Uhbpw8l,
        ._2MbdFM3PhDavNoRcckkAH6,
        ._3ARGcKnN9AiPusU2akGVnf,
        ._3H-6Fs4_R2vnL34C9DWmH1,
        ._3N3btRozy__SzWNMbr7RjP,
        ._3o2m-bhGbaVrTtC5sv0Lcs,
        ._8NCyspZl0BDBVloYYNukx,
        ._10C7E6i-oNzq6geyHNg_Bb,
        ._12o_RiX8QTfiXTIaUPcuZc,
        ._15qflIp9SjUZK7g2aEy2et,
        ._29xQn67IrZKRZ780OAwxPq,
        ._36nDaGKnuq3ZD-agz-pgJT,
        .dA0P14-K7rOfw0-f-ARiQ,
        .phbtEjxefGTKnURQmDKf-,
        .TxBJgay1Dock8v41stRW3,
        .VtNIKmsSDJgR08O3PK8uC {
            box-sizing: border-box;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            padding-right: .5rem;
            padding-left: .5rem
        }

        ._1ROHR9DlWlzMRgGVodwDxD {
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            max-width: 100%
        }

        .VtNIKmsSDJgR08O3PK8uC {
            -ms-flex-preferred-size: 8.33333333%;
            flex-basis: 8.33333333%;
            max-width: 8.33333333%
        }

        ._36nDaGKnuq3ZD-agz-pgJT {
            -ms-flex-preferred-size: 16.66666667%;
            flex-basis: 16.66666667%;
            max-width: 16.66666667%
        }

        ._2f2QlvHgVI7OYkA4mpVBd6 {
            -ms-flex-preferred-size: 25%;
            flex-basis: 25%;
            max-width: 25%
        }

        .TxBJgay1Dock8v41stRW3 {
            -ms-flex-preferred-size: 33.33333333%;
            flex-basis: 33.33333333%;
            max-width: 33.33333333%
        }

        ._1HkK5al1x-9ZSl2PI_ve9D {
            -ms-flex-preferred-size: 41.66666667%;
            flex-basis: 41.66666667%;
            max-width: 41.66666667%
        }

        ._1DhV6KBVDhq0C7-sV3-jzc {
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            max-width: 50%
        }

        ._3o2m-bhGbaVrTtC5sv0Lcs {
            -ms-flex-preferred-size: 58.33333333%;
            flex-basis: 58.33333333%;
            max-width: 58.33333333%
        }

        ._3ARGcKnN9AiPusU2akGVnf {
            -ms-flex-preferred-size: 66.66666667%;
            flex-basis: 66.66666667%;
            max-width: 66.66666667%
        }

        ._15qflIp9SjUZK7g2aEy2et {
            -ms-flex-preferred-size: 75%;
            flex-basis: 75%;
            max-width: 75%
        }

        ._2AWNv2py0f6xFU3ErZOccg {
            -ms-flex-preferred-size: 83.33333333%;
            flex-basis: 83.33333333%;
            max-width: 83.33333333%
        }

        ._3H-6Fs4_R2vnL34C9DWmH1 {
            -ms-flex-preferred-size: 91.66666667%;
            flex-basis: 91.66666667%;
            max-width: 91.66666667%
        }

        .phbtEjxefGTKnURQmDKf- {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            max-width: 100%
        }

        ._10C7E6i-oNzq6geyHNg_Bb {
            margin-left: 0
        }

        ._12o_RiX8QTfiXTIaUPcuZc {
            margin-left: 8.33333333%
        }

        ._2Hh-BNa7guvwv15Uhbpw8l {
            margin-left: 16.66666667%
        }

        ._8NCyspZl0BDBVloYYNukx {
            margin-left: 25%
        }

        .dA0P14-K7rOfw0-f-ARiQ {
            margin-left: 33.33333333%
        }

        ._2MbdFM3PhDavNoRcckkAH6 {
            margin-left: 41.66666667%
        }

        ._3N3btRozy__SzWNMbr7RjP {
            margin-left: 50%
        }

        ._1yQDGbFjNQKaPZV3sRcb7L {
            margin-left: 58.33333333%
        }

        ._2aEcW6OB6LL92WjxVewj4g {
            margin-left: 66.66666667%
        }

        ._2haBvfinzktZWEdiLLTB7k {
            margin-left: 75%
        }

        ._1QsVgWEGnsMr5UiQY1SGSr {
            margin-left: 83.33333333%
        }

        ._29xQn67IrZKRZ780OAwxPq {
            margin-left: 91.66666667%
        }

        .h8qdAWMHl9H9KusorsUGl {
            -ms-flex-pack: start;
            justify-content: flex-start;
            text-align: start
        }

        ._1JWon51gE2hvrP7DseYMY2 {
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center
        }

        ._33Mkuk689lT9cnx5S9o8dd {
            -ms-flex-pack: end;
            justify-content: flex-end;
            text-align: end
        }

        .UhA-Vp1lWlRTzACEbGNsa {
            -ms-flex-align: start;
            align-items: flex-start
        }

        ._1h5t3PJZqK9qwrT3qlPdjc {
            -ms-flex-align: center;
            align-items: center
        }

        ._2tRUaV-2xznVQcG7Iv7UM1 {
            -ms-flex-align: end;
            align-items: flex-end
        }

        ._1okkKoa5s94uYKQbw8E2lT {
            -ms-flex-pack: distribute;
            justify-content: space-around
        }

        .WFP84ybqV_X_gc0zkjJhl {
            -ms-flex-pack: justify;
            justify-content: space-between
        }

        .XoosKjZwAPw326u6OP77Q {
            -ms-flex-order: -1;
            order: -1
        }

        .HnlRwY2cdnKB4NdTkfxQ1 {
            -ms-flex-order: 1;
            order: 1
        }

        @media only screen and (min-width:48em) {
            .R2zU9JsZW1r2id-qp7H3S {
                width: 49rem
            }

            ._1-lcECohRjgF3zkEh7sNjG,
            ._1DgbOkWx9rdi1sebxXKaRG,
            ._1e5UkhjqdTH3_K0acGIg_c,
            ._1PFWu2N487Fe2g_Ji8uBvu,
            ._2_YhBFklQfg_qTh6U0kmHg,
            ._2Gca68cg6xV5NP8eLcc8Nb,
            ._2irZQw6H_DChp3T2u_W2wk,
            ._2ubpxFKlu30KWXK9wEEP4V,
            ._2ynFqaw0kU1Xt49ZO7d_re,
            ._3kj7SajgEZppGZXkY1jtaB,
            ._3MBMiKRL0EjktrpAMgj9YB,
            ._3tZ-zUw0J3C1g8GkBa3cfk,
            ._3W5Iv4Uadk6pl5Ue_iroqk,
            ._3YToGwjr0s6-rcxa2JmN9r,
            ._11PYHVljNTkAFWsK5pMchA,
            ._22IcQjMn8UG95wFMys3kf-,
            ._24EvyNFsA8AQhPNdGoyqdt,
            ._39s7JZgrko5whq6IgG-GP7,
            ._262G9wpfVqlfnaR6O_ILoF,
            ._609VomloCWnEztgUnWLEz,
            .csvBuGnrn4ts9J3hQefTH,
            .gAxuQgw3ujJStQOrnxkLD,
            .llQ6-mNDDsPXpkOYXt378,
            .TCeVQFpWUUtDZXv3yTSSF,
            .vUdKHHlLkgiLAA1TuA45P,
            .YETza1CLxQTJmcsayMaXS {
                box-sizing: border-box;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                padding-right: .5rem;
                padding-left: .5rem;
                font-family: 'Do Hyeon', serif;
            }

            ._3tZ-zUw0J3C1g8GkBa3cfk {
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                max-width: 100%
            }

            ._2Gca68cg6xV5NP8eLcc8Nb {
                -ms-flex-preferred-size: 8.33333333%;
                flex-basis: 8.33333333%;
                max-width: 8.33333333%
            }

            .YETza1CLxQTJmcsayMaXS {
                -ms-flex-preferred-size: 16.66666667%;
                flex-basis: 16.66666667%;
                max-width: 16.66666667%
            }

            ._2irZQw6H_DChp3T2u_W2wk {
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
                max-width: 25%
            }

            ._3kj7SajgEZppGZXkY1jtaB {
                -ms-flex-preferred-size: 33.33333333%;
                flex-basis: 33.33333333%;
                max-width: 33.33333333%
            }

            .gAxuQgw3ujJStQOrnxkLD {
                -ms-flex-preferred-size: 41.66666667%;
                flex-basis: 41.66666667%;
                max-width: 41.66666667%
            }

            .vUdKHHlLkgiLAA1TuA45P {
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                max-width: 50%
            }

            ._22IcQjMn8UG95wFMys3kf- {
                -ms-flex-preferred-size: 58.33333333%;
                flex-basis: 58.33333333%;
                max-width: 58.33333333%
            }

            ._2_YhBFklQfg_qTh6U0kmHg {
                -ms-flex-preferred-size: 66.66666667%;
                flex-basis: 66.66666667%;
                max-width: 66.66666667%
            }

            ._2ubpxFKlu30KWXK9wEEP4V {
                -ms-flex-preferred-size: 75%;
                flex-basis: 75%;
                max-width: 75%
            }

            ._262G9wpfVqlfnaR6O_ILoF {
                -ms-flex-preferred-size: 83.33333333%;
                flex-basis: 83.33333333%;
                max-width: 83.33333333%
            }

            ._39s7JZgrko5whq6IgG-GP7 {
                -ms-flex-preferred-size: 91.66666667%;
                flex-basis: 91.66666667%;
                max-width: 91.66666667%
            }

            ._1e5UkhjqdTH3_K0acGIg_c {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                max-width: 100%
            }

            .llQ6-mNDDsPXpkOYXt378 {
                margin-left: 0
            }

            ._1PFWu2N487Fe2g_Ji8uBvu {
                margin-left: 8.33333333%
            }

            ._1DgbOkWx9rdi1sebxXKaRG {
                margin-left: 16.66666667%
            }

            ._3W5Iv4Uadk6pl5Ue_iroqk {
                margin-left: 25%
            }

            ._3YToGwjr0s6-rcxa2JmN9r {
                margin-left: 33.33333333%
            }

            ._609VomloCWnEztgUnWLEz {
                margin-left: 41.66666667%
            }

            .TCeVQFpWUUtDZXv3yTSSF {
                margin-left: 50%
            }

            .csvBuGnrn4ts9J3hQefTH {
                margin-left: 58.33333333%
            }

            ._11PYHVljNTkAFWsK5pMchA {
                margin-left: 66.66666667%
            }

            ._24EvyNFsA8AQhPNdGoyqdt {
                margin-left: 75%
            }

            ._1-lcECohRjgF3zkEh7sNjG {
                margin-left: 83.33333333%
            }

            ._2ynFqaw0kU1Xt49ZO7d_re {
                margin-left: 91.66666667%
            }

            ._3DiluMqMGENgZ74rnrRptT {
                -ms-flex-pack: start;
                justify-content: flex-start;
                text-align: start
            }

            ._39HWqM1UsMo4T7c-RrIgjf {
                -ms-flex-pack: center;
                justify-content: center;
                text-align: center
            }

            ._3B07fC9n8zItb3gP_SDrWH {
                -ms-flex-pack: end;
                justify-content: flex-end;
                text-align: end
            }

            ._1begSHq9XMpzkzT-sdflTA {
                -ms-flex-align: start;
                align-items: flex-start
            }

            .Oh4K7QoXclMHSQgp8dznR {
                -ms-flex-align: center;
                align-items: center
            }

            ._1jPnc9PA0lIORtNXkAdOBk {
                -ms-flex-align: end;
                align-items: flex-end
            }

            ._3ffbbeYxhCeW3Nz6y_6Y2Z {
                -ms-flex-pack: distribute;
                justify-content: space-around
            }

            ._1RcafKEI96d_kpRD_ppdHZ {
                -ms-flex-pack: justify;
                justify-content: space-between
            }

            ._2Gzhbb3OnhnsSKwU-H8nnq {
                -ms-flex-order: -1;
                order: -1
            }

            ._1pF8wFEO8TZXlDaYNAaHy5 {
                -ms-flex-order: 1;
                order: 1
            }
        }

        @media only screen and (min-width:64em) {
            .R2zU9JsZW1r2id-qp7H3S {
                width: 65rem
            }

            ._1c_4tJkIvzH06N9gHCt4qu,
            ._1LapjkJwg0GqeNlEOCIq3_,
            ._1OdCDXr2NQ4yAGyEim8qJB,
            ._1q95xLQDqjbV-gaUdOJFoq,
            ._1zlTP0SAGq8JEwpZVROe30,
            ._1Zp-rjKvYmPrNz9MaD0X7I,
            ._2CeMKEm_luX4yoL2QIZVpP,
            ._2fXuCa62dkor-GyBj1FE9s,
            ._2JbeeLk6Mjl9JSytxky4qo,
            ._2lbzmILcEV08ocFmmm9K3S,
            ._2O3vR4CaKbTTbZ8LBPyLkO,
            ._2t-NVgglQbylSF7PdB1ixN,
            ._2vFbQbZ69HgdRJHYxRtgIM,
            ._2XNCz_mIWxZsGKZ_xxUNt6,
            ._3aHxz2wo4TWR7uN_57nb0Q,
            ._3ANRSKqa19Npv87KFXEafn,
            ._3drbKWyEfp11xIZouVCC3O,
            ._3KV0VLcScfo3mOXW4MJij,
            ._3S2Gww8nFuYybu4Lhk-0vr,
            ._3u6XWAZkRp0Sy1lfjrR7E_,
            ._5OSyJ15E43abjQAuK9Sqs,
            ._3979JlrDddAMyhrcwcSAip,
            .a_FyK74McLF0aY2GqKp_6,
            .eKUlLU3XTnbWh9gGemlBV,
            .YXlMqJk1FDak9iKkSAbUF,
            .zR2lKxWWGmEG6SYONDm3E {
                box-sizing: border-box;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                padding-right: .5rem;
                padding-left: .5rem
            }

            ._2lbzmILcEV08ocFmmm9K3S {
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                max-width: 100%
            }

            ._1LapjkJwg0GqeNlEOCIq3_ {
                -ms-flex-preferred-size: 8.33333333%;
                flex-basis: 8.33333333%;
                max-width: 8.33333333%
            }

            ._1c_4tJkIvzH06N9gHCt4qu {
                -ms-flex-preferred-size: 16.66666667%;
                flex-basis: 16.66666667%;
                max-width: 16.66666667%
            }

            ._3ANRSKqa19Npv87KFXEafn {
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
                max-width: 25%
            }

            .a_FyK74McLF0aY2GqKp_6 {
                -ms-flex-preferred-size: 33.33333333%;
                flex-basis: 33.33333333%;
                max-width: 33.33333333%
            }

            .YXlMqJk1FDak9iKkSAbUF {
                -ms-flex-preferred-size: 41.66666667%;
                flex-basis: 41.66666667%;
                max-width: 41.66666667%
            }

            ._5OSyJ15E43abjQAuK9Sqs {
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                max-width: 50%
            }

            ._1Zp-rjKvYmPrNz9MaD0X7I {
                -ms-flex-preferred-size: 58.33333333%;
                flex-basis: 58.33333333%;
                max-width: 58.33333333%
            }

            ._3979JlrDddAMyhrcwcSAip {
                -ms-flex-preferred-size: 66.66666667%;
                flex-basis: 66.66666667%;
                max-width: 66.66666667%
            }

            ._2fXuCa62dkor-GyBj1FE9s {
                -ms-flex-preferred-size: 75%;
                flex-basis: 75%;
                max-width: 75%
            }

            ._2JbeeLk6Mjl9JSytxky4qo {
                -ms-flex-preferred-size: 83.33333333%;
                flex-basis: 83.33333333%;
                max-width: 83.33333333%
            }

            ._3drbKWyEfp11xIZouVCC3O {
                -ms-flex-preferred-size: 91.66666667%;
                flex-basis: 91.66666667%;
                max-width: 91.66666667%
            }

            .zR2lKxWWGmEG6SYONDm3E {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                max-width: 100%
            }

            ._2O3vR4CaKbTTbZ8LBPyLkO {
                margin-left: 0
            }

            ._2XNCz_mIWxZsGKZ_xxUNt6 {
                margin-left: 8.33333333%
            }

            ._2t-NVgglQbylSF7PdB1ixN {
                margin-left: 16.66666667%
            }

            ._1zlTP0SAGq8JEwpZVROe30 {
                margin-left: 25%
            }

            ._3aHxz2wo4TWR7uN_57nb0Q {
                margin-left: 33.33333333%
            }

            ._3S2Gww8nFuYybu4Lhk-0vr {
                margin-left: 41.66666667%
            }

            ._3KV0VLcScfo3mOXW4MJij {
                margin-left: 50%
            }

            ._1OdCDXr2NQ4yAGyEim8qJB {
                margin-left: 58.33333333%
            }

            ._2vFbQbZ69HgdRJHYxRtgIM {
                margin-left: 66.66666667%
            }

            ._1q95xLQDqjbV-gaUdOJFoq {
                margin-left: 75%
            }

            ._2CeMKEm_luX4yoL2QIZVpP {
                margin-left: 83.33333333%
            }

            ._3u6XWAZkRp0Sy1lfjrR7E_ {
                margin-left: 91.66666667%
            }

            ._2B-sg8aFLfpm62_Tt69I-R {
                -ms-flex-pack: start;
                justify-content: flex-start;
                text-align: start
            }

            ._3VDfSruvX77m054J9jcdo7 {
                -ms-flex-pack: center;
                justify-content: center;
                text-align: center
            }

            ._2fJWyyCoU4CzNhhsUPcj2- {
                -ms-flex-pack: end;
                justify-content: flex-end;
                text-align: end
            }

            ._12FDgBBs391u2G5OrJRCg {
                -ms-flex-align: start;
                align-items: flex-start
            }

            ._3wIJRjPM2ioGWsmK74iezq {
                -ms-flex-align: center;
                align-items: center
            }

            ._2v1cdeHHFLeas37EudnTH9 {
                -ms-flex-align: end;
                align-items: flex-end
            }

            ._1x54_LB9bbn9gpz5f8idu4 {
                -ms-flex-pack: distribute;
                justify-content: space-around
            }

            .Xn-9xI0lgObNWdy5w9E_1 {
                -ms-flex-pack: justify;
                justify-content: space-between
            }

            ._3j4t5_xrt6LQemu9k22B63 {
                -ms-flex-order: -1;
                order: -1
            }

            ._3y72eHLDXAV2xqHK0cMkAV {
                -ms-flex-order: 1;
                order: 1
            }
        }

        @media only screen and (min-width:75em) {
            .R2zU9JsZW1r2id-qp7H3S {
                width: 76rem
            }

            ._1-g7-h4Cfpw7fqmqu16fHQ,
            ._1qG2tspUJkb5pl3_XC7XM3,
            ._1rlAAw8ioGFvdnOWUR3phO,
            ._1yTfjqgNRtnb1dHDZCr4Rq,
            ._1ZD_z29DMQY0Ir_eJ1aTG4,
            ._1zPZjWQpH288kNebp2rWz0,
            ._2GQVaM2l3Irh5kUhuKyi-C,
            ._2hzy86a-KLUKEnuuA6cwiv,
            ._2rHEgmO5IzDrG5Xc3cnDsr,
            ._2VMiv7_lT1-5_5mY88Smr4,
            ._2YScPJbuzLmkg5HeTcoUnG,
            ._3hMRuLdaCWpN3QmCDWcIdQ,
            ._3kBG1bMRaIuCEMuzMkEkmF,
            ._3KM3x64SsfgZU1IfigtCLp,
            ._3nun3VX81Yw6lDqbgnHSgg,
            ._3pPvjaguCS9oNhxtHhbqF4,
            ._3SaXdPaR142nqcIOuiKCHx,
            ._10mdlAq96KeGEpKaRURBhG,
            ._21dKKlWJanNt1mp8ByWBng,
            ._21lf8wEmHwYwld2iWGJFU7,
            .afECxODMwe73K_5o2I3bm,
            .KhvqRrVoEWPLhV1GS-L2H,
            .Kj8IqNfYzGIqx3aLmNfgG,
            .qd27BVASI0s0c1kAkWTuk,
            .vbACpjjkrYGkAclG_dM33,
            .YTmn9cOcFlX259hMYWIrK {
                box-sizing: border-box;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
                padding-right: .5rem;
                padding-left: .5rem
            }

            ._3SaXdPaR142nqcIOuiKCHx {
                -ms-flex-positive: 1;
                flex-grow: 1;
                -ms-flex-preferred-size: 0;
                flex-basis: 0;
                max-width: 100%
            }

            ._2VMiv7_lT1-5_5mY88Smr4 {
                -ms-flex-preferred-size: 8.33333333%;
                flex-basis: 8.33333333%;
                max-width: 8.33333333%
            }

            ._21dKKlWJanNt1mp8ByWBng {
                -ms-flex-preferred-size: 16.66666667%;
                flex-basis: 16.66666667%;
                max-width: 16.66666667%
            }

            .vbACpjjkrYGkAclG_dM33 {
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
                max-width: 25%
            }

            ._2hzy86a-KLUKEnuuA6cwiv {
                -ms-flex-preferred-size: 33.33333333%;
                flex-basis: 33.33333333%;
                max-width: 33.33333333%
            }

            ._1-g7-h4Cfpw7fqmqu16fHQ {
                -ms-flex-preferred-size: 41.66666667%;
                flex-basis: 41.66666667%;
                max-width: 41.66666667%
            }

            ._21lf8wEmHwYwld2iWGJFU7 {
                -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
                max-width: 50%
            }

            ._3kBG1bMRaIuCEMuzMkEkmF {
                -ms-flex-preferred-size: 58.33333333%;
                flex-basis: 58.33333333%;
                max-width: 58.33333333%
            }

            .afECxODMwe73K_5o2I3bm {
                -ms-flex-preferred-size: 66.66666667%;
                flex-basis: 66.66666667%;
                max-width: 66.66666667%
            }

            ._10mdlAq96KeGEpKaRURBhG {
                -ms-flex-preferred-size: 75%;
                flex-basis: 75%;
                max-width: 75%
            }

            ._1yTfjqgNRtnb1dHDZCr4Rq {
                -ms-flex-preferred-size: 83.33333333%;
                flex-basis: 83.33333333%;
                max-width: 83.33333333%
            }

            ._3hMRuLdaCWpN3QmCDWcIdQ {
                -ms-flex-preferred-size: 91.66666667%;
                flex-basis: 91.66666667%;
                max-width: 91.66666667%
            }

            ._1rlAAw8ioGFvdnOWUR3phO {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                max-width: 100%
            }

            ._3KM3x64SsfgZU1IfigtCLp {
                margin-left: 0
            }

            .KhvqRrVoEWPLhV1GS-L2H {
                margin-left: 8.33333333%
            }

            ._1ZD_z29DMQY0Ir_eJ1aTG4 {
                margin-left: 16.66666667%
            }

            ._2GQVaM2l3Irh5kUhuKyi-C {
                margin-left: 25%
            }

            ._1zPZjWQpH288kNebp2rWz0 {
                margin-left: 33.33333333%
            }

            .Kj8IqNfYzGIqx3aLmNfgG {
                margin-left: 41.66666667%
            }

            ._3nun3VX81Yw6lDqbgnHSgg {
                margin-left: 50%
            }

            .YTmn9cOcFlX259hMYWIrK {
                margin-left: 58.33333333%
            }

            ._1qG2tspUJkb5pl3_XC7XM3 {
                margin-left: 66.66666667%
            }

            .qd27BVASI0s0c1kAkWTuk {
                margin-left: 75%
            }

            ._2YScPJbuzLmkg5HeTcoUnG {
                margin-left: 83.33333333%
            }

            ._3pPvjaguCS9oNhxtHhbqF4 {
                margin-left: 91.66666667%
            }

            .ageu9kvjITxzI4kkJTBPg {
                -ms-flex-pack: start;
                justify-content: flex-start;
                text-align: start
            }

            ._3H3SIrkI0UbDUnmo-w81Tw {
                -ms-flex-pack: center;
                justify-content: center;
                text-align: center
            }

            ._27_fMsnGuAXyB3PN2E2XDi {
                -ms-flex-pack: end;
                justify-content: flex-end;
                text-align: end
            }

            ._1tWWwsnzo29OCqDycLdabU {
                -ms-flex-align: start;
                align-items: flex-start
            }

            .nocGIQ9CpeWuzLVV_F-Uf {
                -ms-flex-align: center;
                align-items: center
            }

            .IYGksIFT9SOw6zkflJS_u {
                -ms-flex-align: end;
                align-items: flex-end
            }

            .zZC2C_E9Ki2clHnozhh2a {
                -ms-flex-pack: distribute;
                justify-content: space-around
            }

            ._2njzkS2f_XEcsHCKLfLD0U {
                -ms-flex-pack: justify;
                justify-content: space-between
            }

            ._6dksOSGGLkqWE_zrFGLkt {
                -ms-flex-order: -1;
                order: -1
            }

            .xGBvSx3UZrZVZPQJ7tdQc {
                -ms-flex-order: 1;
                order: 1
            }
        }

        #char {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 60px;
            margin-right: 30px;
            padding-top: 0;
            letter-spacing: 0;
            font-size: 20px;
            font-weight: 400;
            height: 64px;
            line-height: 64px;
            color: #000000;
            font-family: 'Do Hyeon', serif;
        }
